<div style="padding: 20px">
  <div style="text-align:center">
    <span class="dot" (click)="currentSlide(0)"></span>
    <span class="dot" (click)="currentSlide(1)"></span>
    <span class="dot" (click)="currentSlide(2)"></span>
    <span class="dot" (click)="currentSlide(3)"></span>
    <span class="dot" (click)="currentSlide(4)"></span>
  </div>

</div>
<div class="container">
        <div style="text-align:center" class="col-centered">
          <img src="{{imgUrl}}" class="i fade" id="im">
        </div>
<br>
</div>
<br>


