<div style="text-align:center" class="container hide">
  <h1 class="font-weight-bold hide">Consequat tincidunt</h1>
</div>

<div style="text-align:center; padding-bottom: 20px" class="fade">
  <img src="../../assets/tree.png" height="250" width="250">
</div>

<div class="container" style="padding-bottom: 30px">


<div class="container lirumBack">
<div class="row">
  <div class="col ">
    <h4>Lirum</h4>
    <p class="fw">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Nam facilisis egestas tellus in condimentum.
      Nulla elit metus, congue non sagittis vehicula,
      ornare vitae turpis. Aenean luctus, erat at scelerisque posuere,
      justo orci ullamcorper nunc.
    </p>
  </div>
  <div class="col ">
    <h4>Larum</h4>
    <p class="fw">Pellentesque blandit consequat tincidunt.
      Sed non eleifend quam. Curabitur vel tellus semper,
      vestibulum elit varius,
      maximus mauris. Vestibulum accumsan enim vitae tortor fringilla mattis.
      Quisque porta mi a placerat sagittis. Aliquam scelerisque interdum augue sed euismod.
      Quisque sit amet urna vel libero semper facilisis et lobortis lacus.
      Vestibulum tempus erat urna.
      Curabitur posuere odio ac consequat volutpat. Sed feugiat et sapien eu fringilla.
    </p>
  </div>
</div>
  <div class="row">
    <div class="col ">
      <h4>Lorum</h4>
      <p class="fw">Suspendisse potenti. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Cras ut magna eleifend ante tincidunt imperdiet nec ut justo.
        Donec porttitor nibh ut turpis ornare, sed lacinia massa blandit.
        Nam gravida massa libero, sed tristique ex venenatis vel.
        Donec accumsan in ligula ut scelerisque. Pellentesque at dapibus est.
        Duis a mi ut nulla suscipit dignissim vel porttitor ligula.
      </p>
    </div>
    <div class="col ">
      <h4>Impsum</h4>
      <p class="fw">Arci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Nam quis quam turpis. Suspendisse commodo venenatis ultrices.
        Etiam consequat, diam quis pharetra porttitor, nulla arcu vehicula risus,
        vel aliquam est lorem et libero.
      </p>
    </div>
  </div>

</div>
</div>
